body{
background-image: url("background.jpg");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

#image{
background-repeat: no-repeat;
width: 191px;
height: 191px;
margin-left: 640px;
margin-right: 210px;
border: 2px solid darkblue;
}