body{
background-image: url("Background.jpg");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

#image{
width: 191px;
height: 191px;
border: 2px solid darkblue;
}

.center{
text-align:center;
}