body{
background-image: url("ScheduleBackground.jpg");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
overflow: hidden;
}

table{
margin-left:300px;
font-size:20px;
}

h1{
margin-left:300px;
text-decoration: underline;
}

tr{
background-color: lightblue;
}